@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  height: 100%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.boxParallax {
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  max-height: 100vh;
}

.bg1 {
  background-image: url("../assets/imagens/bg1.png");
}

.bg2 {
  background-image: url("../assets/imagens/bg-vitor.png");
}

.bg3 {
  background-image: url("../assets/imagens/bg4.png");
}

.bg4 {
  background-image: url("../assets/imagens/IMG_7032.jpg");
}
